@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  input[type="checkbox"],
  input[type="radio"],
  [multiple],
  textarea,
  select,
  input {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green focus:border-green sm:text-sm;
  }
  /* label {
    @apply block text-sm font-medium text-gray-700 border-white;
  } */

  /* admin */
  select .smallForm {
    /* width: 100px; */
    @apply overflow-hidden max-w-xs w-min;
  }

  /* Fonts */
  @import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
}

body {
  @apply font-sans text-lg bg-gray-800;
}

.playerbg {
  @apply bg-transparent bg-[url('/bg_blurred.png')] bg-no-repeat bg-center;
}
.btn {
  @apply text-grey100 border-grey100 border-solid border-2 w-full flex justify-center py-2 px-4 rounded-full shadow-sm hover:text-black hover:shadow-lg hover:bg-grey100 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green;
}
.player-btn {
  @apply text-grey100 justify-center rounded-md py-1 px-2 text-xs focus:ring-1 focus:ring-offset-1 focus:ring-green shadow-sm hover:shadow-lg border border-transparent;
}



.changed {
  @apply bg-gradient-to-r from-yellow-200 via-yellow-300 to-pink-200;
}

.profile-icon svg {
  fill: #1c9cb2; /* green */
  stroke-dashoffset: 0;
  stroke-dasharray: 700;
  stroke-width: 2;
}
.profile-icon svg:hover {
  fill: #ccc; /* green */
}

input:checked + div {
  @apply border-green;
}
input:checked + div svg {
  @apply block;
}
